.total-bg {
  background: var(--color-footer);

  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /* margin-bottom: 4rem; */
}



.container {
  width: 350px;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  border-radius: 19px;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(15, 15, 15, 0.28);
  position: relative;
  overflow: hidden;
  margin-top: 4rem;
  /* margin-bottom: 20px; */
}

.top {
  width: 90%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 1.8em;
  padding-bottom: 5em;
}

.motion {
  width: 160%;
  height: 550px;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  transform: rotate(60deg);
  top: -290px;
  left: -70px;
  background: #F3722D;
  background: linear-gradient(
    58deg,
    #F3722D 20%,
    #F3722D 100%
  );
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.24;
  color: #fff;
  z-index: 10;
  margin: 0;
  text-align: center;
}

.inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1.8em;
}

.terms_box_reg {
  display: flex;
  flex-direction: column;
  background: transparent;
  /* margin-top: -100px; */
  width: 150%;
  align-self: center;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.formBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0px 0px 2.5px rgba(15, 15, 15, 0.19); */
}

.input-form {
  width: 100%;
  height: 42px;
  outline: none;
  border: 1px solid rgba(200, 200, 200, 0.3);
  padding: 0px 10px;
  border-bottom: 1.4px solid transparent;
  transition: all 200ms ease-in-out;
  font-size: 12px;
  color: black;
}

.error {
  color: red;
}

::placeholder {
  color: black;
  font-family: var(--font-family);
}

/* :not(:last-of-type) {
    border-bottom: 1.5px solid rgba(200, 200, 200, 0.4);
  }

  :focus {
    outline: none;
    border-bottom: 2px solid rgb(241, 196, 15);
  } */

.form-inputs p {
  margin-top: 5px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
}

p {
  margin-top: 5px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: black;
}

.form-input.btn {
    margin-bottom: 4rem;
}

.modal-img {
  width: 70px;
  height: 70px;
}

.modal-body {
  text-align: center;
  align-self: center;
}
